
<div class="container-fluid">
    <div class="text-center">
        <h1>{{title}}</h1>
    </div>
    <form class="form-horizontal" role="form" style="margin-top:60px;">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="inputID" class="col-md-4 control-label">Work Order ID:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="workorder.WorkOrderId" disabled/>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="inputDescription" class="col-md-4 control-label">Description:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="workorder.Description" />
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="inputProperty" class="col-md-4 control-label">Property:</label>
                    <div class="col-md-8">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="min-width:auto; width:100%;">
                                {{workorder.Property.PropertyName}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li ng-repeat="property in properties"><a ng-click="propselect(property)">{{property.PropertyName}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="inputTenant" class="col-md-4 control-label">Tenant:</label>
                    <div class="col-md-8" >
                        <div class="dropdown" >
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="min-width:auto; width:100%;">
                               {{workorder.Tenant.FirstName}} {{workorder.Tenant.LastName}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li ng-repeat="tenant in tenants"><a ng-click="tenantselect(tenant)">{{tenant.FirstName}} {{tenant.LastName}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="inputPriority" class="col-md-4 control-label">Priority:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="workorder.Priority" />
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="inputOpened" class="col-md-4 control-label">Opened:</label>
                    <div class="col-md-8">
                        <input id="startdate" class="span2 datepicker" type="text" value={{startDate}} name="startdate" default={{startDate}} data-date={{startDate}} data-behavior="datepicker">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="inputClosed" class="col-md-4 control-label">Closed:</label>
                    <div class="col-md-8">
                        <input id="enddate" class="span2 datepicker" type="text" value={{endDate}} name="startdate" default={{endDate}} data-date={{endDate}} data-behavior="datepicker">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="container-fluid">
    <div class="text-center">
        <div class="col-md-4" style="text-align:center">
            <a class="btn btn-primary" ng-href="#/workorder/grid" style="width:100%">
                Cancel
            </a>
        </div>
        <div class="col-md-4" style="text-align:center">
        </div>
        <div class="col-md-4" style="text-align:center">
            <button class="btn btn-success" ng-click="saveWorkOrder()" style="width:100%">
                Save
            </button>
        </div>
    </div>
</div>
