<div class="container-fluid">
    <div class="text-center">
        <div class="col-md-4" style="text-align:center"></div>
        <div class="col-md-4" style="text-align:center"></div>
        <div class="col-md-4" style="text-align:right">
            <button class="btn btn-success pull-right" ng-href="#/lease/add">
                Add
            </button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="text-center">
        <h1>Lease Detail: #{{title}}</h1>
    </div>
    <form class="form-horizontal" role="form" style="margin-top:60px;">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="inputStartDate" class="col-md-4 control-label">Start Date:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="lease.StartDate" />
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="inputEndDate" class="col-md-4 control-label">End Date:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="lease.EndDate" />
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="inputRent" class="col-md-4 control-label">Rent:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="lease.Rent" />
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="inputRentFrequency" class="col-md-4 control-label">Rent Frequency:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="lease.RentFrequency" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="container-fluid">
    <div class="text-center">
        <div class="col-md-4" style="text-align:center"></div>
        <div class="col-md-4" style="text-align:center">
            <button class="btn btn-success" ng-click="saveLease()" style="width:100%">
                Save
            </button>
        </div>
        <div class="col-md-4" style="text-align:center"></div>
    </div>
</div>