body {
    background-color: #808080;

}

@media (min-width:840px){
    body {
    background-image: url("/img/backdrop.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
}

label {
        text-shadow: 2px 1px black ;
        color:white;
}

th {
  background-color: #222;
  border-color: #080808;
    color: #9d9d9d;
}

h1 {
    text-shadow: 2px 1px black ;
    color:white;
}

h2 {
        text-shadow: 2px 1px black ;
    color:white;
}